@import url('https://fonts.googleapis.com/css?family=Raleway');

* { margin: 0; padding: 0 }

body {background-color: #dddddd }

header { height: 60px; background: #248052; color: #fff; font: 15px 'Raleway', sans-serif; align-items: center; display: flex; padding: 0 0 0 10px; }

ul { display: flex; list-style-type: none; }

li { padding: 0 30px; }

section { display: flex; }

h3 { font: 15px 'Raleway', sans-serif; 	position: absolute;	left: 50%;	top: 50%; border: 1px solid red;}